@use '../../styles/breakpoints' as *;
@import '../../styles/vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $bg-sidebar;
    transition: all ease 0.5sec;
    padding: 24px;
}

.logo {
    display: none;
    width: 100%;

    flex-direction: row;
    justify-content: center;
    margin-bottom: 27px;


    @include breakpoint(mobile) {
        display: flex;
    }

    @include breakpoint(tablet) {
        display: flex;
    }
}

.myDocuments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
}

.title {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #7c8187;
    margin-top: 20px;
    text-align: center;
}

.newDocument {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    background-color: #e46643;
    border: none;
    margin-top: 29px;
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    cursor: pointer;
}

.newDocument:hover {
    background-color: #f39765;
}

.documentList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 24px;
        margin-top: 24px;
}

.documentList::-webkit-scrollbar {
    width: 2px;
    height: 4px;
    background-color: $bg-navbar;

}

/* Add a thumb */
.documentList::-webkit-scrollbar-thumb {
    background: white;
}

.themeSwitcher {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dark {
    padding-top: 5px;
}

.light {
    margin-left: 0px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--roboto-font);
    color: white;
    margin-bottom: 25px;

    & h2 {
        margin-top: 10px;
        font-size: 14px;
    }

    & p {
        margin-top: 4px;
        font-size: 14px;
    }

    & img {
        border-radius: 50%;
    }
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #e46643;
    border: none;
    margin-top: 16px;
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    cursor: pointer;
}

.userButton:hover {
    background-color: #f39765;
}

.appActions {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-left: 6px;
}
