@use '../../styles/breakpoints' as *;
@import '../../styles/vars';
@import '../../styles/theme';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.markdown {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #e4e4e4;
    font-family: var(--mono);
    background-color: white;
    overflow-y: scroll;

    @include breakpoint(mobile) {
        width: 100%;
    }

    & textarea {
        width: 100%;
        height: 100%;
        padding: 9px 16px 16px 16px;
        border: none;
        padding: 12px 16px;
        border: 0px none;
        outline: none;
        font-family: var(--mono);
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
        color: #35393f;
        background-color: white;
        resize: none;
    }
}

.preview {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;

    @include breakpoint(mobile) {
        display: none;
    }
}

.previewText {
    padding: 22px 23px 0px 23px;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--slab);
    color: $light-text-primary;
    overflow-y: scroll;

    & h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 21px;
    }

    & h2 {
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 20px;
    }

    & h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    & h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    & h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    & h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #e46643;
        margin-bottom: 21px;
    }

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        color: $light-text-paragraph;
    }

    & ol {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $light-text-paragraph;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    & ol li {
        padding: 0px 0px 0px 9px;
    }

    & ul {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $light-text-paragraph;
        list-style: none;
        margin-bottom: 20px;
    }

    & ul li::before {
        content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #e46643;
        display: inline-block;
        width: 18px;
        margin-left: 24px;
    }

    & blockquote {
        background-color: #f5f5f5;
        border-radius: 4px;
        border-left: 4px solid #e46643;
    }

    & blockquote p {
        padding: 24px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $light-text-primary;
    }

    & blockquote a {
        color: $light-text-primary;
    }
}

.previewText pre {
    background-color: #f5f5f5;
    padding: 24px;
    border-radius: 4px;
}

.dark pre {
    background-color: $dark-bg-color;
}

// If preview mode = true
// hide the markdown window
.mdHide {
    display: none;
}

// change the width of the preview window from 50% to 100%
.previewOnly {
    width: 100%;

    @include breakpoint(mobile) {
        display: flex;
    }
}

// make the preview text 50% width of the the full window (centers it)
.previewOnly_Text {
    width: 50%;

    @include breakpoint(tablet) {
        width: 100%;
        padding: 22px 48px 0px 48px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 16px 20px 0px 20px;
    }
}
