@import '../styles/vars';

.appWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appContainer {
    display: flex;
    flex-direction: column;
    transition: all ease 0.3sec;
    width: 100vw;
    height: 100vh;
}
