$bg-sidebar: #1d1f22;
$bg-navbar: #2b2d31;
$bg-header: #f5f5f5;
$light-text-primary: #35393f;
$light-text-paragraph: #7C8187;
$light-blockquote-background: #f5f5f5;
$dark-bg-color: #2B2D31;
$dark-text-primary: #C1C4CB;